
<header>

  <div class="wrapper">
    <article class="type-system-serif">
      <h1>We Eatt Recipe Search</h1>
    </article>
  </div>
</header>

<div class="wrapper">

  <article class="type-system-serif">
    {{outlet}}
  </article>

</div>





  <footer class="footer-2 type-system-serif">
    <div class="footer-logo">
    </div>
      <ul>
        <li><a href="http://www.weeatt.com/">Home</a></li>
        <li><a href="http://www.weeatt.com/pages/api">API</a></li>
        <li><a href="http://www.weeatt.com/tour">About</a></li>
      </ul>

      <div class="footer-secondary-links">
        <ul>
          <li><a href="http://www.weeatt.com/legal/terms_of_use">Terms and Conditions</a></li>
          <li><a href="http://www.weeatt.com/legal/privacy">Privacy Policy</a></li>
        </ul>

        <ul class="footer-social">
        </ul>
      </div>
      <br/>
  </footer>
